USE [master]
GO
/****** Object:  Database [WSI_INV_DB]    Script Date: 1/2/2025 11:02:45 AM ******/
CREATE DATABASE [WSI_INV_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WSI_INV_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WSI_INV_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WSI_INV_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WSI_INV_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WSI_INV_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WSI_INV_DB]
GO
/****** Object:  User [WSIMKT-DT657]    Script Date: 1/2/2025 11:02:48 AM ******/
CREATE USER [WSIMKT-DT657] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WORDTEXT\kevinsm]    Script Date: 1/2/2025 11:02:48 AM ******/
CREATE USER [WORDTEXT\kevinsm] FOR LOGIN [WORDTEXT\kevinsm] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [kevinsm]    Script Date: 1/2/2025 11:02:48 AM ******/
CREATE USER [kevinsm] FOR LOGIN [kevinsm] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 1/2/2025 11:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCompList]    Script Date: 1/2/2025 11:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCompList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblComponent]    Script Date: 1/2/2025 11:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblComponent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[item_description] [nvarchar](max) NULL,
	[type] [int] NULL,
	[serial] [nvarchar](max) NULL,
	[assetno] [nvarchar](max) NULL,
	[ppeno] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[date] [date] NULL,
	[build_id] [int] NULL,
	[accountability] [int] NULL,
	[rft] [nvarchar](max) NULL,
	[laptop_id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCompPerHistory]    Script Date: 1/2/2025 11:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCompPerHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[item_Id] [int] NOT NULL,
	[item_description] [nvarchar](max) NULL,
	[type] [int] NULL,
	[serial] [nvarchar](max) NULL,
	[assetno] [nvarchar](max) NULL,
	[ppeno] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[date] [date] NULL,
	[build_id] [int] NULL,
	[accountability] [int] NULL,
	[rft] [nvarchar](max) NULL,
	[category] [bit] NULL,
	[modifier] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLapTab]    Script Date: 1/2/2025 11:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLapTab](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[item_description] [nvarchar](max) NULL,
	[type] [nvarchar](max) NULL,
	[serial] [nvarchar](max) NULL,
	[assetno] [nvarchar](max) NULL,
	[ppeno] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[date] [date] NULL,
	[accountability] [int] NULL,
	[os] [nvarchar](max) NULL,
	[host_name] [nvarchar](max) NULL,
	[rft] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLapTabHistory]    Script Date: 1/2/2025 11:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLapTabHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[item_Id] [int] NULL,
	[item_description] [nvarchar](max) NULL,
	[type] [nvarchar](max) NULL,
	[serial] [nvarchar](max) NULL,
	[assetno] [nvarchar](max) NULL,
	[ppeno] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[date] [date] NULL,
	[accountability] [int] NULL,
	[os] [nvarchar](max) NULL,
	[host_name] [nvarchar](max) NULL,
	[rft] [nvarchar](max) NULL,
	[modifier] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOS]    Script Date: 1/2/2025 11:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[os] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPeripheralList]    Script Date: 1/2/2025 11:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPeripheralList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPeripherals]    Script Date: 1/2/2025 11:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPeripherals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[item_description] [nvarchar](max) NULL,
	[type] [int] NULL,
	[serial] [nvarchar](max) NULL,
	[assetno] [nvarchar](max) NULL,
	[ppeno] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[date] [date] NULL,
	[build_id] [int] NULL,
	[accountability] [int] NULL,
	[rft] [nvarchar](max) NULL,
	[laptop_id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSystemUnits]    Script Date: 1/2/2025 11:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSystemUnits](
	[build_id] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](max) NULL,
	[date] [date] NULL,
	[assetno] [nvarchar](max) NULL,
	[os] [nvarchar](max) NULL,
	[host_name] [nvarchar](max) NULL,
	[rft] [nvarchar](max) NULL,
	[accountability] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSystemUnitsHistory]    Script Date: 1/2/2025 11:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSystemUnitsHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[build_id] [int] NULL,
	[status] [nvarchar](max) NULL,
	[date] [date] NULL,
	[assetno] [nvarchar](max) NULL,
	[os] [nvarchar](max) NULL,
	[host_name] [nvarchar](max) NULL,
	[rft] [int] NULL,
	[accountability] [int] NULL,
	[modifier] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([Id], [category]) VALUES (1, N'Desktop')
INSERT [dbo].[tblCategory] ([Id], [category]) VALUES (2, N'Laptop')
INSERT [dbo].[tblCategory] ([Id], [category]) VALUES (3, N'Tablet')
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCompList] ON 

INSERT [dbo].[tblCompList] ([Id], [name]) VALUES (1, N'Motherboard')
INSERT [dbo].[tblCompList] ([Id], [name]) VALUES (2, N'Processor')
INSERT [dbo].[tblCompList] ([Id], [name]) VALUES (3, N'Memory')
SET IDENTITY_INSERT [dbo].[tblCompList] OFF
GO
SET IDENTITY_INSERT [dbo].[tblComponent] ON 

INSERT [dbo].[tblComponent] ([Id], [item_description], [type], [serial], [assetno], [ppeno], [status], [date], [build_id], [accountability], [rft], [laptop_id]) VALUES (1, N'SIMBADDA S608 SLIM ', 7, N'', N'OXMLA021-008611', N'', N'Assigned', CAST(N'2023-08-11' AS Date), 1, 5, N'46464654', 0)
INSERT [dbo].[tblComponent] ([Id], [item_description], [type], [serial], [assetno], [ppeno], [status], [date], [build_id], [accountability], [rft], [laptop_id]) VALUES (2, N'Pentium G4400 3.3 GHz ', 2, N'U78R42H101672', N'OXMLA022-008619', N'', N'Assigned', CAST(N'2023-08-11' AS Date), 1, 5, N'46464654', 0)
INSERT [dbo].[tblComponent] ([Id], [item_description], [type], [serial], [assetno], [ppeno], [status], [date], [build_id], [accountability], [rft], [laptop_id]) VALUES (3, N'Seagate 1TB SATA 3.5 HDD', 4, N'Z9AGAB3H', N'OXMLA024-008617', N'', N'Assigned', CAST(N'2023-08-11' AS Date), 1, 5, N'46464654', 0)
GO
SET IDENTITY_INSERT [dbo].[tblComponent] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCompPerHistory] ON 

INSERT [dbo].[tblCompPerHistory] ([Id], [item_Id], [item_description], [type], [serial], [assetno], [ppeno], [status], [date], [build_id], [accountability], [rft], [category], [modifier]) VALUES (1, 1, N'HP Compaq 17" LE1711 LCD', 3, N'3CQ116B4DT', N'OEMLA030-003627', N'', N'Assigned', CAST(N'2023-08-11' AS Date), 1, 5, N'46464654', 1, N'kevinsm')
INSERT [dbo].[tblCompPerHistory] ([Id], [item_Id], [item_description], [type], [serial], [assetno], [ppeno], [status], [date], [build_id], [accountability], [rft], [category], [modifier]) VALUES (2, 2, N'A4 TECH OPTICAL MOUSE OP720', 1, N'PE1711031978', N'OXMLA050-008828', N'', N'Assigned', CAST(N'2023-08-11' AS Date), 1, 5, N'46464654', 1, N'kevinsm')
INSERT [dbo].[tblCompPerHistory] ([Id], [item_Id], [item_description], [type], [serial], [assetno], [ppeno], [status], [date], [build_id], [accountability], [rft], [category], [modifier]) VALUES (3, 3, N'Microsoft Wired Desktop 500 Keyboard', 2, N' 7668201139010', N'', N'OEE-A0193K', N'Assigned', CAST(N'2023-08-11' AS Date), 1, 5, N'46464654', 1, N'kevinsm')
SET IDENTITY_INSERT [dbo].[tblCompPerHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLapTab] ON 

INSERT [dbo].[tblLapTab] ([Id], [item_description], [type], [serial], [assetno], [ppeno], [status], [date], [accountability], [os], [host_name], [rft]) VALUES (1, N'Lenovo Laptop', N'sample laptop', N'12345', N'67890', N'99999', N'Assigned', CAST(N'2024-05-02' AS Date), 6046, N'Windows 11', N'WSIMKT-DT657', N'45692')
INSERT [dbo].[tblLapTab] ([Id], [item_description], [type], [serial], [assetno], [ppeno], [status], [date], [accountability], [os], [host_name], [rft]) VALUES (2, N'Acer', N'sample laptop 2', N'13453', N'87630', N'88888', N'Assigned', CAST(N'2024-05-02' AS Date), 6046, N'Windows 11', N'WSIMKT-DT657', N'45691')
SET IDENTITY_INSERT [dbo].[tblLapTab] OFF
GO
SET IDENTITY_INSERT [dbo].[tblOS] ON 

INSERT [dbo].[tblOS] ([Id], [os]) VALUES (1, N'Windows 11 Home x64')
INSERT [dbo].[tblOS] ([Id], [os]) VALUES (2, N'Windows 11 Home x86')
INSERT [dbo].[tblOS] ([Id], [os]) VALUES (3, N'Windows 11 Pro x64')
SET IDENTITY_INSERT [dbo].[tblOS] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPeripheralList] ON 

INSERT [dbo].[tblPeripheralList] ([Id], [name]) VALUES (1, N'Mouse')
INSERT [dbo].[tblPeripheralList] ([Id], [name]) VALUES (2, N'Keyboard')
INSERT [dbo].[tblPeripheralList] ([Id], [name]) VALUES (3, N'Monitor')
SET IDENTITY_INSERT [dbo].[tblPeripheralList] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPeripherals] ON 

INSERT [dbo].[tblPeripherals] ([Id], [item_description], [type], [serial], [assetno], [ppeno], [status], [date], [build_id], [accountability], [rft], [laptop_id]) VALUES (1, N'HP Compaq 17" LE1711 LCD', 3, N'3CQ116B4DT', N'OEMLA030-003627', N'', N'Assigned', CAST(N'2023-08-11' AS Date), 1, 5, N'46464654', 0)
INSERT [dbo].[tblPeripherals] ([Id], [item_description], [type], [serial], [assetno], [ppeno], [status], [date], [build_id], [accountability], [rft], [laptop_id]) VALUES (2, N'A4 TECH OPTICAL MOUSE OP720', 1, N'PE1711031978', N'OXMLA050-008828', N'', N'Assigned', CAST(N'2023-08-11' AS Date), 1, 5, N'46464654', 0)
INSERT [dbo].[tblPeripherals] ([Id], [item_description], [type], [serial], [assetno], [ppeno], [status], [date], [build_id], [accountability], [rft], [laptop_id]) VALUES (3, N'Microsoft Wired Desktop 500 Keyboard', 2, N' 7668201139010', N'', N'OEE-A0193K', N'Assigned', CAST(N'2023-08-11' AS Date), 1, 5, N'46464654', 0)
GO
SET IDENTITY_INSERT [dbo].[tblPeripherals] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSystemUnits] ON 

INSERT [dbo].[tblSystemUnits] ([build_id], [status], [date], [assetno], [os], [host_name], [rft], [accountability]) VALUES (1, N'Assigned', CAST(N'2023-08-11' AS Date), N'OXMLA021-008611', N'15', N'WSIMKT-DT605', N'46464654', 5)
INSERT [dbo].[tblSystemUnits] ([build_id], [status], [date], [assetno], [os], [host_name], [rft], [accountability]) VALUES (2, N'Assigned', CAST(N'2023-08-11' AS Date), N'OXMLA021-007773', N'15', N'WSIMKT-DT518', N'1', 5)
INSERT [dbo].[tblSystemUnits] ([build_id], [status], [date], [assetno], [os], [host_name], [rft], [accountability]) VALUES (3, N'On Stock', CAST(N'2023-08-11' AS Date), N'OXMLA021-007497', N'15', N'WSIMKT-DT507', N'46653', 0)
SET IDENTITY_INSERT [dbo].[tblSystemUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSystemUnitsHistory] ON 

INSERT [dbo].[tblSystemUnitsHistory] ([Id], [build_id], [status], [date], [assetno], [os], [host_name], [rft], [accountability], [modifier]) VALUES (1, 1, N'Assigned', CAST(N'2023-08-11' AS Date), N'OXMLA021-008611', N'15', N'WSIMKT-DT605', 46464654, 5, N'kevinsm')
INSERT [dbo].[tblSystemUnitsHistory] ([Id], [build_id], [status], [date], [assetno], [os], [host_name], [rft], [accountability], [modifier]) VALUES (2, 32, N'Assigned', CAST(N'2023-08-11' AS Date), N'50505050', N'1', N'JL-TEST', 55, 5066, N'jlmm')
INSERT [dbo].[tblSystemUnitsHistory] ([Id], [build_id], [status], [date], [assetno], [os], [host_name], [rft], [accountability], [modifier]) VALUES (3, 2, N'Assigned', CAST(N'2023-08-23' AS Date), N'OXMLA021-007773', N'15', N'WSIMKT-DT518', 1, 5, N'jaredmc')
SET IDENTITY_INSERT [dbo].[tblSystemUnitsHistory] OFF
GO
USE [master]
GO
